<div *ngIf="motorcycle">
    <h2>{{ motorcycle.modelName }}</h2>
    <div>
        Model name: 
        <input type="text" [(ngModel)]="motorcycle.modelName" required="Model name is required"/>
    </div>
    <div>
        Company: 
        <input type="text" [(ngModel)]="motorcycle.company" />
    </div>
    <div>
        Model type:        
        <select [(ngModel)]="motorcycle.modelType">
            <option *ngFor="let type of modelTypes" [value]="type">{{ type }}</option>
        </select>
    </div>
    <div>
        Engine: 
        <input type="number" [(ngModel)]="motorcycle.enginePower" />
    </div>
    <div>
        Price: 
        <input type="number" [(ngModel)]="motorcycle.price" />
    </div>
    <button class="btn btn-primary" (click)="updateMotorcycle(motorcycle)" *ngIf="motorcycle.id">Save</button>
    <button class="btn btn-danger" (click)="deleteMotorcycle(motorcycle)" *ngIf="motorcycle.id">Delete</button>
    <button class="btn btn-success" (click)="createMotorcycle(motorcycle)" *ngIf="!motorcycle.id">Create</button>
</div>