<div class="container">
    <h3>Models Overview</h3>
    <div class="col-sm-4">
        <button class="btn btn-success" (click)="initNewMotorcycle()">Create a new model</button>         
    </div>    
    <table class="table table-striped">        
        <thead title="All motorcycles models">
            <th scope="col">Id</th>
            <th scope="col">Model name</th>
            <th scope="col">Company</th>
            <th scope="col">Type</th>
            <th scope="col">Engine</th>
            <th scope="col">Price</th>
        </thead>
        <tbody>
            <tr *ngFor="let motorcycle of motorcycles">
                <td scope="row">{{ motorcycle.id }}</td>
                <td scope="row">{{ motorcycle.modelName }}</td>
                <td scope="row">{{ motorcycle.company }}</td>
                <td scope="row">{{ motorcycle.modelType }}</td>
                <td scope="row">{{ motorcycle.enginePower }}</td>
                <td scope="row">{{ motorcycle.price }}</td>
                <td><button class="btn btn-success" (click)="editMotorcycle(motorcycle)">Edit</button></td>
            </tr>
        </tbody>
    </table>
</div>

<app-edit-motorcycle [motorcycle]="motorcycleToEdit" (motorcyclesUpdated)="updateMotorcycleList($event)"></app-edit-motorcycle>